<h1>Cogsci RSS - Reader</h1>
<p> This is an early build of an RSS - Reader written
    in Ruby and build with the Rails-Gem. Our goal is to build an application that allows the user to display
    the most relevant news in a compact and quick-to-read form. Later on we want to add syntactic/semantic analysis to introduce filtering and intelligent recommandations.
    <br><br>
    Check out the source code at <%= link_to "GitHub", "https://github.com/ProjectRSS/CogsciRSS" %>.
</p>
