  <div class="col-md-3"><%= image_tag("brain.png" , size: "150x150", alt: "Edit Entry") %> </div>
  <div class="col-md-9">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia orci vitae dui eleifend tristique. Phasellus id aliquet orci. Cras a metus venenatis, vulputate diam a, viverra ipsum. Pellentesque gravida viverra rhoncus. Etiam sagittis elementum mi, ut pellentesque nibh porta at. Etiam a tristique ligula, at suscipit dolor. Integer a venenatis eros. Nam posuere purus eget libero luctus dapibus. Curabitur sed tortor odio. Suspendisse non sodales odio. Suspendisse varius mollis risus eu imperdiet. Donec tortor arcu, condimentum ut ligula in, adipiscing hendrerit elit.
</div>
