<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "CXRSS", '#', id: "logo" %>
      <nav class="pull-right"> 
        <input type="text" class="actionbar" placeholder="Search">
        <%= link_to "Settings",    '#' %>
      </nav>
    </div>
  </div>
</header>